.label{
    font-weight: bold;
}

p{
    font-size: 1.5rem;
}


input{
    width: 50%;
    font-size: 1.5rem;
    height: 2rem;
    padding: .5rem;
}

div > div{
    display: flex;
    align-items: center;
}